nav{
  display: flex;
  height: 30px;
  padding: 20px 36px;
  box-shadow: 0px 2.9825618267059326px 7.456404209136963px 0px #0000001A;

}
.nav--logo {
  max-width: 100px;
}


.banner{
  text-align: center;
}

.banner>img{
  width: 395px;
  padding-top: 26px
  
}
.title{
 
  padding-left: 36px;
}

.para{
  padding-left: 36px;
  width: 320px;
  
}

.card-image{
  height: 235px;
  object-fit: cover;
  border-radius: 10px;
  width: 100%
}

.card{
  width: 175px;
  font-size: 12px;
}
.card-star{
  height: 14px;
}
.grey{
  color: grey;
}
.bold{
  font-weight: bold;
}